---
name: "Checkov - Terraform"

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/**'
      - '.github/workflows/checkov.yaml'
  pull_request:
    paths:
      - 'terraform/**'
      - '.github/workflows/checkov.yaml'
  workflow_dispatch: # Allow to manually trigger the pipeline

concurrency: ci-${{ github.ref }}
jobs:
  checkov:
      name: super-linter
      runs-on: ubuntu-24.04
      steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: terraform/
          framework: terraform
          soft_fail: true
