---
name: "Super-Linter"

on:
  push:

jobs:
  linting:
    name: super-linter
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          # Full git history is needed
          fetch-depth: 0

      - name: Create reporting dir
        run: mkdir -p super-linter.report

      - name: Run super-linter
        uses: github/super-linter/slim@v7
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # limit to new and updated files
          VALIDATE_ALL_CODEBASE: false
          JSCPD_CONFIG_FILE: .jscpd.json